* {
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    background-color: #fff;
}

.diplom-intro, .diplom-catalog, .attestat-catalog, .image-info{
    max-width:100%;
}

/** Navbar **/

.navbar {
    background: transparent !important;
    margin-top: 30px;
}

.navbar-brand{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    margin-left: 120px;
    padding-right: 50px;
}

.nav-item{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    padding-right: 32px;
}

.ww{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.navbar-toggler{
    border: none !important;
    color: transparent !important;
    text-decoration: none;
    margin-right: 0px;
}

/** Navbar **/

/** Intro **/

.intro {
    width: 86%;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.text-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 42%;
}

.main-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #212121;
}

.info-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 52px;
}

.call-btn{
    width: 274px;
    height: 62px;
    background: #3563E9;
    border-radius: 2px;
    border: none;
    transition: 0.5s;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.call-btn:hover{
    transition: all .5s ease-in;
    transform: translate(0,-2px);
}

/** Intro**/

.container-title{
    display: flex;
    width: 86%;
    flex-direction: column;
    justify-content: space-between!important;
    margin-top: 100px;
}

.catalog-title{
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.catalog{
    width: 86%;
    display: flex;
    justify-content: space-between;
}

.text-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 42%;
}

.main-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #212121;
}

/**=== Catalog-cards section ==**/
/*1*/

.catalog-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;
}

.card1, .card2, .card3{
    width: 420px;
    height: 720px;
    background: #EFF3FD;
    border-radius: 12px;
    border: none;
}

.text-card{
    padding-left: 40px;
}

.top-text{
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #040815;
    padding-top: 32px;
}

.bottom-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #000000;
}

.price{
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #000000;
    padding-top: 74px;
}

.price-2{
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #000000;
    padding-top: 93px;
}

.dop-info{
    display: flex;
    width: 86%;
    flex-direction: column;
    justify-content: space-between!important;
    margin-top: 100px;
    margin-bottom: 100px;
}

.dopinf{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.64;
}

/** Info**/

.info{
    width: 86%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.text-info-block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-info {
    margin-top: 256px;
}

.wrapper{
    background: #EFF3FD;
    background-size: 100%;
}

.text-up-inf{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.main-text-up{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #3563E9;
    padding-top: 70px;
    text-align: center;
    height: 10%;
}

.main-text-mid{
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #040815;
}

.main-text-down{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #596780;
    opacity: 0.64;
}

.text-info-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.inf-up{
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #0D121F;
    padding-top: 42px;
}

.circle{
    padding-right: 12px;
}

.str1{
    margin-bottom: 20px;
}

.info-text-3{
    margin-top: 32px;
}

.line{
    padding-right: 10px;
}

.bottom-text-2{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 50px;
}

/** Footer**/

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.text-foot {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.contacts-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #21243D;
}

.coperights{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #21243D;
}

/** Media until the end **/

@media (max-width: 1512px) {
    .navbar-brand{
        margin-left: 25px;
    }

    .intro {
        width: 95%;
    }

    .diplom-intro {
        width: 670px;
        height: 460px;
    }

    .container-title {
        width: 95%;
    }

    .catalog {
        width: 95%;
    }

    .dop-info {
        width: 95%;
    }

    .info {
        width: 95%;
    }
}

@media (max-width: 1366px) {
    .navbar-brand{
        margin-left: 25px;
    }

    .diplom-intro {
        width: 540px;
        height: 430px;
    }

    .text-info {
        width: 55%;
    }
}

@media (max-width: 1280px) {
    .navbar-brand{
        margin-left: 0px;
    }

    .intro {
        width: 98%;
    }

    .diplom-intro {
        width: 590px;
        height: 430px;
    }

    .catalog {
        width: 100%;
    }

    .container-title {
        width: 98%;
    }

    .card {
        width: 400px;
        height: 720px;
    }

    .text-card {
        padding-left: 30px;
    }

    .dop-info {
        width: 98%;
    }

    .info {
        width: 98%;
      }
}

@media (max-width: 991px) {
    .diplom-intro {
        display: none;
    }
    .text-info {
        width: 100%;
    }

    .navbar-brand{
        margin-left: 20px;
        font-size: 24px;
    }
    

    .navbar-toggler{
        margin-right: 20px;
    }

    .container-title {
        width: 100%;
    }

    .catalog-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        width: 100%;
    }

    .card2, .card3{
        margin-top: 30px;
    }

    .image-info{
        display: none;
    }

    .text-info-block {
        width: 100%;
    }

    .info {
        width: 50%;
    }
}

@media (max-width: 420px) {
    .navbar-brand {
        font-size: 19px;
    }

    .nav-item {
        font-size: 18px;
    }

    .main-text {
        font-size: 35px;
    }

    .card1, .card2, .card3 {
        width: 390px;
    }

    .text-card {
        padding-left: 22px;
    }

    .info {
        width: 85%;
      }

    .main-text-mid {
        font-size: 36px;
    }
}

@media (max-width: 350px) {
    .navbar-brand {
        font-size: 13px;
    }

    .info-text {
        font-size: 22px;
    }

    .card1, .card2, .card3 {
        width: 336px;
    }

    .text-card {
        padding-left: 12px;
      }

      .container-title {
        width: 94%;
      }

      .info {
        width: 98%;
      }
}

